[Desktop Entry]
Name=Conduktor
Comment=A beautiful and fully-featured desktop client for Apache Kafka
Categories=Development;
Exec=/app/bin/conduktor
Icon=io.conduktor.Conduktor
Terminal=false
Type=Application
Keywords=Apache;Kafka;Zookeeper;Cluster;
